In [1]:
import pandas as pd
import pandas_datareader as pdr

In [2]:
from datetime import datetime

In [3]:
start = datetime(2018, 2, 1)
end = datetime(2018,2,26)
googDF = pdr.data.DataReader('goog', 'morningstar', start,end)

In [4]:
import talib

In [5]:
googDF

                     Close       High        Low     Open   Volume
Symbol Date
goog   2018-02-01  1167.70  1174.0000  1157.5200  1162.61  2412114
       2018-02-02  1111.90  1123.0700  1107.2779  1122.00  4857943
       2018-02-05  1055.80  1110.0000  1052.0300  1090.60  3798301
       2018-02-06  1080.60  1081.7100  1023.1367  1027.18  3447956
       2018-02-07  1048.58  1081.7800  1048.2600  1081.54  2369232
       2018-02-08  1001.52  1058.6200  1000.6600  1055.41  2859136
       2018-02-09  1037.78  1043.9700   992.5600  1017.25  3505862
       2018-02-12  1051.94  1061.5000  1040.9280  1048.00  2057718
       2018-02-13  1052.10  1058.3700  1044.0872  1045.00  1265054
       2018-02-14  1069.70  1071.7200  1046.7500  1048.95  1555787
       2018-02-15  1089.52  1091.4794  1064.3400  1079.07  1843442
       2018-02-16  1094.80  1104.6700  1088.3134  1088.41  1681612
       2018-02-19  1094.80  1094.8000  1094.8000  1094.80        0
       2018-02-20  1102.46  1113.9500  1088.5200  1090.57  1423145
       2018-02-21  1111.34  1133.9700  1106.3300  1106.47  1512910
       2018-02-22  1106.63  1122.8200  1102.5900  1116.19  1317166
       2018-02-23  1126.79  1127.2800  1104.7135  1112.64  1260968
       2018-02-26  1143.75  1143.9600  1126.6950  1127.80  1559079

In [6]:
talib.STOCH?

Docstring:
STOCH(high, low, close[, fastk_period=?, slowk_period=?, slowk_matype=?, slowd_period=?, slowd_matype=?])

Stochastic (Momentum Indicators)

Inputs:
    prices: ['high', 'low', 'close']
Parameters:
    fastk_period: 5
    slowk_period: 3
    slowk_matype: 0
    slowd_period: 3
    slowd_matype: 0
Outputs:
    slowk
    slowd
Type:      builtin_function_or_method

In [8]:
googDF['slowk'], googDF['slowd'] = talib.STOCH(
                                                high=googDF.High.as_matrix()
                                              , low=googDF.Low.as_matrix()
                                              , close=googDF.Close.as_matrix()
                                              , fastk_period=5
                                              , slowk_period=3
                                              , slowk_matype=0
                                              , slowd_period=3
                                              , slowd_matype=0)

In [9]:
googDF

                     Close       High        Low     Open   Volume      slowk  \
Symbol Date
goog   2018-02-01  1167.70  1174.0000  1157.5200  1162.61  2412114        NaN
       2018-02-02  1111.90  1123.0700  1107.2779  1122.00  4857943        NaN
       2018-02-05  1055.80  1110.0000  1052.0300  1090.60  3798301        NaN
       2018-02-06  1080.60  1081.7100  1023.1367  1027.18  3447956        NaN
       2018-02-07  1048.58  1081.7800  1048.2600  1081.54  2369232        NaN
       2018-02-08  1001.52  1058.6200  1000.6600  1055.41  2859136        NaN
       2018-02-09  1037.78  1043.9700   992.5600  1017.25  3505862        NaN
       2018-02-12  1051.94  1061.5000  1040.9280  1048.00  2057718        NaN
       2018-02-13  1052.10  1058.3700  1044.0872  1045.00  1265054  57.264423
       2018-02-14  1069.70  1071.7200  1046.7500  1048.95  1555787  76.912236
       2018-02-15  1089.52  1091.4794  1064.3400  1079.07  1843442  87.400439
       2018-02-16  1094.80  1104.6700  1088.3134  1088.41  1681612  93.327702
       2018-02-19  1094.80  1094.8000  1094.8000  1094.80        0  88.747716
       2018-02-20  1102.46  1113.9500  1088.5200  1090.57  1423145  83.708579
       2018-02-21  1111.34  1133.9700  1106.3300  1106.47  1512910  78.036558
       2018-02-22  1106.63  1122.8200  1102.5900  1116.19  1317166  63.506538
       2018-02-23  1126.79  1127.2800  1104.7135  1112.64  1260968  63.940083
       2018-02-26  1143.75  1143.9600  1126.6950  1127.80  1559079  74.647273

                       slowd
Symbol Date
goog   2018-02-01        NaN
       2018-02-02        NaN
       2018-02-05        NaN
       2018-02-06        NaN
       2018-02-07        NaN
       2018-02-08        NaN
       2018-02-09        NaN
       2018-02-12        NaN
       2018-02-13  37.069738
       2018-02-14  56.476876
       2018-02-15  73.859033
       2018-02-16  85.880126
       2018-02-19  89.825286
       2018-02-20  88.594665
       2018-02-21  83.497617
       2018-02-22  75.083892
       2018-02-23  68.494393
       2018-02-26  67.364631

#### It appears the default lookback is set to 8 days.  To get the slowk and slowd indicators for February, we must go 8 days prior

In [10]:

start = datetime(2018, 1, 19)
end = datetime(2018,2,26)
googDF2 = pdr.data.DataReader('goog', 'morningstar', start,end)

In [11]:
googDF2['slowk'], googDF2['slowd'] = talib.STOCH(
                                                  high=googDF2.High.as_matrix()
                                                , low=googDF2.Low.as_matrix()
                                                , close=googDF2.Close.as_matrix()
                                                , fastk_period=5
                                                , slowk_period=3
                                                , slowk_matype=0
                                                , slowd_period=3
                                                , slowd_matype=0)

In [12]:
googDF2.loc['goog'][googDF2.loc['goog'].index > '2018-01-31']

,Close,High,Low,Open,Volume,slowk,slowd
Date,,,,,,,
2018-02-01,1167.70,1174.0000,1157.5200,1162.61,2412114,31.718206,43.050775
2018-02-02,1111.90,1123.0700,1107.2779,1122.00,4857943,27.190643,33.102424
2018-02-05,1055.80,1110.0000,1052.0300,1090.60,3798301,14.498450,24.469100
2018-02-06,1080.60,1081.7100,1023.1367,1027.18,3447956,15.641260,19.110118
2018-02-07,1048.58,1081.7800,1048.2600,1081.54,2369232,19.327713,16.489141
2018-02-08,1001.52,1058.6200,1000.6600,1055.41,2859136,18.552447,17.840473
2018-02-09,1037.78,1043.9700,992.5600,1017.25,3505862,18.690820,18.856993
2018-02-12,1051.94,1061.5000,1040.9280,1048.00,2057718,35.253970,24.165746
2018-02-13,1052.10,1058.3700,1044.0872,1045.00,1265054,57.264423,37.069738
2018-02-14,1069.70,1071.7200,1046.7500,1048.95,1555787,76.912236,56.476876
2018-02-15,1089.52,1091.4794,1064.3400,1079.07,1843442,87.400439,73.859033
2018-02-16,1094.80,1104.6700,1088.3134,1088.41,1681612,93.327702,85.880126
2018-02-19,1094.80,1094.8000,1094.8000,1094.80,0,88.747716,89.825286
2018-02-20,1102.46,1113.9500,1088.5200,1090.57,1423145,83.708579,88.594665
2018-02-21,1111.34,1133.9700,1106.3300,1106.47,1512910,78.036558,83.497617
2018-02-22,1106.63,1122.8200,1102.5900,1116.19,1317166,63.506538,75.083892
2018-02-23,1126.79,1127.2800,1104.7135,1112.64,1260968,63.940083,68.494393
2018-02-26,1143.75,1143.9600,1126.6950,1127.80,1559079,74.647273,67.364631